@import "../../sass/helper";

.Follow,
.Following {
  padding: 14px 0;
  max-width: 196px;
  width: 100%;
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: $--shadow;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  transition: background-color 300ms ease;
}

.Follow {
  background-color: $--main-color;
  &:hover {
    background-color: $--main-hover-color;
  }
}

.Following {
  background-color: $--bg-following;
  &:hover {
    background-color: $--bg-hover-following;
  }
}
