@import "../../sass/helper";

.userInner {
  & > p {
    color: $--main-color;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    text-transform: uppercase;
  }
  & > p + p {
    margin-top: 16px;
  }
}

.picture {
  max-height: 168px;
  & > img {
    height: 100%;
  }
}

.avatar {
  max-width: 80px;
  height: 80px;
  margin: 0 auto 26px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebd8ff;
  border-radius: 100%;
  box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
    inset 0px -2.19582px 4.39163px #ae7be3,
    inset 0px 4.39163px 3.29372px #fbf8ff;

  & > .left,
  & > .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    height: 8px;
    background-color: $--main-color;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
      inset 0px -1.71846px 3.43693px #ae7be3,
      inset 0px 3.43693px 2.5777px #fbf8ff;
  }

  & > .left {
    right: 100%;
  }

  & > .right {
    left: 100%;
  }

  & > img {
    display: block;
    height: 62px;
    max-width: 62px;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
    position: relative;
    box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
      inset 0px -2.19582px 4.39163px #ae7be3,
      inset 0px 4.39163px 3.29372px #fbf8ff;
  }
}

.followers {
  margin-bottom: 26px;
}
