@import "../../sass/helper";

.App {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    max-width: 450px;
  }

  @include tablet {
    max-width: 1000px;
  }

  @include desktop {
    max-width: 1400px;
  }
}
